@import '../../scss/helpers/variables';
@import '../../scss/helpers/mixins';

.forum {
  margin: 40px 50px;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 90px;
  z-index: 1;
}

.textarea {
  width: 100%;
  border-radius: 5px;
  resize: none;
  padding: 8px;
}
