@import '../../scss/helpers/variables';
@import '../../scss/helpers/mixins';

.forum {
  margin: 40px 50px;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 90px;
  z-index: 1;
}

.textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: rgb(226 225 225);
}
