@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/AuthLayout/bg.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
