@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @include backgroundImg_light
}

.root_dark {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @include backgroundImg_dark
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
