@import "../../scss/helpers/mixins";

.layout {
  background-image: url("../../assets/images/AuthLayout/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
}
