@import '../../scss/helpers/mixins';

.layout {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout_light {
  @extend .layout;
  @include backgroundImg_light;
}

.layout_dark {
  @extend .layout;
  @include backgroundImg_dark;
}

.content {
  flex: 1;
  position: relative;
}
