.topic {
  margin: 40px 50px;
  padding: 30px;
  box-shadow: var(--shadow-xs-hard);
  position: relative;
  display: flex;
  flex-direction: column;
}

.back.back {
  position: sticky;
  top: 45px;
  align-self: flex-end;
}

.text.text {
  width: 100%;
}

.reply {
  padding: 0 16px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  padding: 0 16px;
}

.submit {
  margin-right: var(--gap-s-neg);
}

.toast {
  left: calc(50% - 180px);
}