.text.text {
  width: 100%;
}

.reply {
  padding: 0 16px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  padding: 0 16px;
}
