@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin minMedia($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin backgroundImg_light {
  background-image: url("../../assets/images/AuthLayout/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin backgroundImg_dark {
  background-image: url("../../assets/images/AuthLayout/bg_dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin box {
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(0 0 0 / 50%);
  background-color: rgba(#fff, 0.1);
}
