.root {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: var(--colors-border-bottom);
  background: var(--colors-bg);
  box-shadow: var(--shadow);
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.links {
  display: flex;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.switchThemeBtn {
  padding: 0 1rem;
  margin: 15px;
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
  line-height: 2.5;
  border-radius: var(--radii);
  border: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-text);
  cursor: pointer;
}
